[Desktop Entry]
Name=Chemtool
Comment=Molecules 2D drawing program
Comment[cs]=Editor molekul
Comment[de]=Moleküleditor
Comment[pl]=Edytor molekuł
Exec=chemtool
Icon=chemtool
Terminal=false
MultipleArgs=false
Type=Application
MimeType=application/x-chemtool;
InitialPreference=2
Categories=Education;Science;Chemistry;
# vi: encoding=utf-8
